* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-form {
  width: 500px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-label {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.form-control {
  padding: 10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.card-form-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn {
  background-color: #66696e;
  color: white;
  padding: 10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.btn:hover {
  background-color: #9ea2a8;
}
